<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="!postsEmpty() && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    {{ post.content }}
    <mat-action-row>
      <a mat-button [routerLink]="['/edit', post.id]" color="primary">Edit</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">
        Delete
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<p *ngIf="postsEmpty() && !isLoading" class="info-text mat-body-1">No Posts</p>
